*{
		margin: 0;
		padding: 0;
		list-style:none;
		box-sizing:border-box;
	}
	.logoname a{
		text-decoration: none;
		color: #eee;
	}
	.container{
		width: 100%;
		max-width: 1000px;
		position: relative;
		margin: auto;
		text-align: center;
	}
	.footer{
		width: 100%;
		max-width: 1000px;
		height: 70px;
		margin: auto;
		position: relative;
		text-align:center;
	}
	.copy{
		font-size: 12px;
		color: #eee;
		margin: auto;
	}
	.teacherpic{
		width: 100%;
		margin: auto;
		height: auto;
		position: relative;
		padding-top: 16%;
	}
	.teacherpic img{
		width: 100%;
		height: auto;
	}
	.picword{
		color: rgb(0,189,252);
		font-family: Arial, Helvetica, sans-serif;
    	position: absolute;
    	width: 100%;
    	max-width: 210px;
    	top: 510px;
    	left: 111px;
	}
	.picword p{
		font-size: 18px;
	}
	a{
		text-decoration: none;
	}
	.introduction h1{
		color: #eee;
		width: 100%;
		max-width: 1000px;
		margin: auto;
	}
	.file{
		width: 100%;
	}
	.filerow{
		width: 100%;
	}
	.filerow .pic0{
		float: left;
		position: relative;
    	width: 33.33333%;
    	padding: 12px;
	}
	.file:after{
		display: block;
		content: '';
		clear: both;
	}
	.pic0{
		width: 222px;
		height: auto;
		margin: auto;
		position: relative;
		overflow: hidden;
		perspective: 400px;
	}
	.pic0 img{
		transform:rotateY(0deg);
		backface-visibility:hidden;
		transition:1s cubic-bezier(0.52,-0.6, 0.26, 2.38);
	}
	.pic0:hover img{
		transform:rotateY(-180deg);
	}
	.txt{
		box-sizing: border-box;
		padding-top:15%;
		font-size: 16px;
		width: 222px;
    	height: 262px;
		background-color:rgba(76,74,74,0.8);
		color:#fafafa;
		position: absolute;
		left: 55px;
    	top: 9px;
		backface-visibility:hidden;
		transform:rotateY(180deg);
		transition:1s cubic-bezier(0.52,-0.6, 0.26, 2.38);
	}
	.pic0:hover .txt{
		transform:rotateY(0deg);
	}
	.filename{
		margin: auto;
		background-color: rgb(0,189,252);
		width: 222px;
		text-align: center;
		font-size: 25px;
		color: #eee;
		line-height: 37px;
		overflow: hidden;
   		margin-bottom: 20px;
    	margin-top: -5px;
	}
	.logoname{
		display: none;
		position: absolute;
		color: #eee;
		left: 0;
		top: 0;
		line-height: 27px;
		text-align: center;
	}
	.bg{
		background-attachment: fixed;
		background-color:#000;
		z-index: -20;
	}
	@media screen and (max-width:767px){
		.pic0:hover img{
			transform:rotateY(0deg);
		}
		.txt{
			display: none;
		}
		.header{
			width: 100%;
		}
		.container{
			width: 100%;
		}
		.filerow .pic0{
			position: relative;
    		width: 100%;
    		padding: 12px;
		}
		.logoname{
				position: relative;
				display: block;
				text-align: center;
				font-size: 10px;
    			line-height: 40px;
			}
		.footer{
			width: 100%;
			margin: auto;
			position: relative;
		}
		.copy{
			font-size: 12px;
			color: #eee;
			position: absolute;
			margin: auto;
			width: 100%;
		}
		.txt{
			left: 50px;
		}	
	}

	/**************/
	.hb{
			font-size: 30px;
			display:none;
		}
		.header{
			width: 100%;
			height: 132px;
			background-color: #000;
			position: fixed;
    		z-index: 50;
			}
		.logo{
			width: 200px;
			height: 128px;
			background-color:#000;
		}
		@media screen and (max-width:767px){
			.logo{
				display: none;
			}
			.picword{
			color: rgb(0,189,252);
	    	top: 61%;
    		left: 2%;
	    	position: absolute;
	    	font-size: 12px;
			}
		}
		#menu-btn{ position: absolute; left: -100%; }
		.menu{
			width: 100%;
			clear:both;
			background-color:#37a7f4;
			text-align: center;
			margin-top: 4px;
		}
		.menu li{
			display:inline-block;
		}
		.menu a{
			display:block;
			padding: 6px 20px;
			text-decoration: none;
			color:#fff;
		}
		.menu a:hover{
			background-color: #000;
			color:#fff;
			transition:.8s;
		}
		@media screen and (max-width:767px){
			.hb{
				display:block;
				width: 30px;
				height: 30px;
				position: absolute;
				right: 10px;
				top: 6px;
				text-align: center;
    			color: #eee;
			}
			.header{
				height: 40px;
				width: 100%;
				position: fixed;
				left: 0;
				top: 0;
				background-color:#000;
			}
			.menu{
				position: fixed;
				width: 70%;
				height: 100%;
				z-index: 10;
				left: -110%;
				top: 0;
				background-color:#000;
				transition: .5s;
			}
			.menu li{
				width: 100%;
				padding: 10px;
			}
			.menu a{
				color:#fff;
				text-decoration: none;
			}
			.menu a:hover{
			background-color: #fa0;
			color: #000;
			}
			#menu-btn:checked ~ .header .menu{
				left: 0;
			}
		}